.history__card-title {
  word-break: break-word;
}
.home__thumbnail {
  aspect-ratio: 84/47;
}

.break-word {
  word-break: break-word;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 8px;
}

progress[value]::-webkit-progress-bar {
  @apply bg-[#0f0f0f];
}
progress[value]::-webkit-progress-value {
  @apply bg-red-600;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
@media screen and (min-width: 1380px) {
  .player-wrapper {
    padding-top: 50%;
  }
}
/* loader */
.loader__dot{
  animation: loading 1s ease-in-out infinite;
}
.loader__dot-1{
  animation-delay: .1s;
}
.loader__dot-2{
  animation-delay: .3s;
}
.loader__dot-3{
  animation-delay: .5s;
}

@keyframes loading {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}