.history__card-title{
    word-break: break-word;
}
.home__thumbnail{
    aspect-ratio: 84/47;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 8px;
}

progress[value]::-webkit-progress-bar {
  @apply bg-[#0f0f0f];
}
progress[value]::-webkit-progress-value {
  @apply bg-red-600;
}